.bento {
  display: flex;
  height: 200px;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  transition: opacity 0.3s ease-in-out;
  width: 100%;
}

.bento-item {
  display: flex;
  height: 200px;
}

.bento-item-el {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  max-height: 100%;
  width: 100%;
}

.bento--0,
.bento--1 {
  height: 100px;

  .bento-item {
    display: none;
  }
}

.bento--2 {
  max-width: 800px;

  .bento-item {
    max-width: 400px;
    width: 100%;
  }
}

.bento--3 {
  max-width: 600px;

  .bento-item {
    width: 50%;
  }

  .bento-item:first-child {
    display: flex;
    flex-direction: column;
  }

  @media screen and (min-width: 600px) {
    .bento-item {
      max-width: 400px;
      width: 100%;
    }

    .bento-item:first-child {
      flex-direction: row;
    }

    .bento-item:last-child {
      max-width: 200px;
    }
  }
}

.bento--4 {
  .bento-item {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  @media screen and (min-width: 600px) {
    .bento-item {
      flex-direction: row;
      width: 100%;
    }
  }
}

.bento--5 {
  flex-wrap: wrap;

  .bento-item {
    height: 100px;
    width: 50%;
  }

  .bento-item:nth-of-type(1) {
    order: 1;
  }

  .bento-item:nth-of-type(3) {
    order: 2;
  }

  .bento-item:nth-of-type(2) {
    order: 3;
    width: 100%;
  }

  @media screen and (min-width: 600px) {
    & {
      flex-wrap: no;
    }

    .bento-item {
      height: 200px;
      width: 20%;
    }

    .bento-item:nth-of-type(1),
    .bento-item:nth-of-type(2) {
      order: no;
      height: 200px;
      width: 40%;
    }
  }
}

.bento--6 {
  flex-wrap: wrap;

  .bento-item {
    height: 100px;
    width: 50%;
  }

  .bento-item:nth-of-type(1) {
    order: 1;
  }
  .bento-item:nth-of-type(2) {
    order: 4;
  }
  .bento-item:nth-of-type(3) {
    order: 2;
  }
  .bento-item:nth-of-type(4) {
    order: 3;
  }

  @media screen and (min-width: 600px) {
    & {
      left: 50%;
      margin-left: -720px;
      width: 1440px;
    }

    .bento-item {
      height: 200px;
      width: 200px;
    }

    .bento-item:nth-of-type(1),
    .bento-item:nth-of-type(2) {
      width: 400px;
      order: 1;
    }

    .bento-item:nth-of-type(3) {
      order: 3;
    }
    .bento-item:nth-of-type(4) {
      order: 4;
    }
  }
}

.bento--7 {
  flex-wrap: wrap;

  .bento-item {
    height: 100px;
    display: flex;
  }

  .bento-item-el {
    width: 50%;
  }

  .bento-item:nth-of-type(1) {
    order: 1;
    width: 50%;
  }
  .bento-item:nth-of-type(2) {
    order: 2;
    width: 50%;
  }
  .bento-item:nth-of-type(3) {
    order: 3;
    width: 50%;
  }
  .bento-item:nth-of-type(4) {
    order: 4;
    width: 25%;
  }
  .bento-item:nth-of-type(5) {
    order: 5;
    width: 25%;
  }

  .bento-item:nth-of-type(3),
  .bento-item:nth-of-type(4),
  .bento-item:nth-of-type(5) {
    .bento-item-el {
      width: 100%;
    }
  }
}

.bento--8 {
  flex-wrap: wrap;

  .bento-item {
    height: 100px;
    width: 50%;
  }

  .bento-item-el {
    width: 50%;
  }

  .bento-item:nth-of-type(4),
  .bento-item:nth-of-type(5) {
    width: 25%;

    .bento-item-el {
      width: 100%;
    }
  }
}

.bento--9 {
  flex-wrap: wrap;

  .bento-item {
    width: 50%;
    height: 100px;
  }

  .bento-item:first-child {
    flex-direction: row-reverse;
  }

  .bento-item-el--wrapper {
    display: flex;
    flex-direction: column;

    .bento-item-el {
      height: 50%;
    }
  }

  .bento-item:nth-of-type(4),
  .bento-item:nth-of-type(5) {
    width: 25%;
  }
}

.bento--10 {
  flex-wrap: wrap;

  .bento-item {
    width: 50%;
    height: 100px;
  }

  .bento-item:first-child {
    flex-direction: row-reverse;
  }

  .bento-item-el--wrapper {
    display: flex;
    flex-direction: column;

    .bento-item-el {
      height: 50%;
    }
  }

  .bento-item:nth-of-type(4),
  .bento-item:nth-of-type(5) {
    width: 25%;
  }

  .bento-item:nth-of-type(2) {
    order: 4;
  }
}
